body {
    background-color: thistle;
    color: slateblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav { 
background-color: mediumorchid;
color: bisque;
font-size: larger;
padding: 20px;
text-align: center;
}

header {
    background-color: black;
    color: mediumorchid;
 padding: 40px;
    text-align: center;
    font-size: x-large;
}